*{
	box-sizing: border-box;
}

body{
	background: url(../images/90sBG.jpg) repeat;
	font-family: Chewy;
	font-size: 30px;
	color: yellow;
}

.container{
	background-color: #E346DE;
	margin: 0 20 0 20px;
	padding: 90px;
	
}

header{
	color: #323033;
	margin-top: 110px;
	margin-left: 110px;
	background-color: #1CE823;
	padding: 20px;
	padding-left: 225px;
}

#header-img{
	width: 300px;
	float: right;
	margin: 30px 110px;
	
}

#messages{
	color: #323033;
}

